@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


*{
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
}

@theme {
  --color-primary: #5044e5;
}